type hal_fod_davinci, coredomain, domain;
hal_server_domain(hal_fod_davinci, hal_mokee_fod)

type hal_fod_davinci_exec, exec_type, file_type;
init_daemon_domain(hal_fod_davinci)
